* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  background-color: black;
}

.login {
  background-color: #000;
  color: #fff;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.login__background {
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

.login__background img {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  border: 0;
}

.login__header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
  border-bottom: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
}

.login__header .logo {
  text-decoration: none;
  vertical-align: middle;
  fill: #e50914;
  display: inline-block;
  line-height: 90px;
  margin-left: 3%;
}

.login__header .logo .svg-icon {
  height: 45px;
  width: 167px;
  vertical-align: middle;
}

.login__body {
  margin: 0 auto -236px;
  min-height: 100vh;
  background-color: transparent;
  max-width: 450px;
  color: #333;
  padding: 0 5%;
}

.login__body .card {
  min-height: 660px;
  max-width: 450px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 90px;
}

.login__body .card h1 {
  color: white;
  font-size: 32rem;
  font-weight: 700;
  margin-bottom: 28px;
}

.login__body .card .form .field {
  padding-bottom: 16px;
  position: relative;
}

.login__body .card .form .field input {
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fill-available;
  background-color: #333;
  outline: none;
}

.login__body .card .form .field input:focus {
  background: #454545;
}

.login__body .card .form .field input:focus + label,
.login__body .card .form .field input:valid + label {
  top: 7px;
  font-size: 11px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.login__body .card .form .field label {
  position: absolute;
  top: 40%;
  left: 20px;
  font-size: 16rem;
  color: #8c8c8c;
  transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login__body .card .form .btn-login {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 12px;
  padding: 15px;
  background: #e50914;
  color: white;
  outline: none;
  border: none;
  min-width: 100%;
}

.login__body .card .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login__body .card .help__remember {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 20px;
  position: relative;
}

.login__body .card .help__remember .text-remember svg {
  position: absolute;
  width: 14px;
  left: -19px;
  top: -22px;
}

.login__body .card .help__remember .text-remember span {
  color: #b3b3b3;
  font-size: 13rem;
  font-weight: 500;
  position: absolute;
  top: 3px;
}

.login__body .card .help__me {
  cursor: pointer;
  color: #b3b3b3;
  -webkit-box-flex: 0;
  font-size: 13rem;
  font-weight: 500;
  padding-top: 2px;
  text-decoration: none;
}

.login__body .card .help__me:hover {
  text-decoration: underline;
}

.login__body .card .help__remember input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.login__body .card .help__remember input[type=checkbox] + label {
  color: #333;
  position: relative;
  display: block;
  line-height: 1.2;
}

.login__body .card .help__remember input[type=checkbox] + label::before {
  background: #737373;
  border-radius: 2px;
  border: 0;
  height: 16px;
  left: -20px;
  width: 16px;
  padding: 0;
  content: "";
  position: absolute;
  display: block;
  top: 2px;
}

.login__body .card .facebook {
  margin-top: 46px;
}

.login__body .card .facebook img {
  margin-right: 10px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.login__body .card .facebook a {
  color: #737373;
  font-size: 13rem;
  font-weight: 500;
  text-decoration: none;
}

.login__body .card .suscribe {
  color: #737373;
  font-size: 16rem;
  font-weight: 500;
  margin-top: 16px;
}

.login__body .card .suscribe__first_time {
  display: inline-block;
}

.login__body .card .suscribe__btn {
  text-decoration: none;
  color: #fff;
}

.login__body .card .suscribe__btn:hover {
  text-decoration: underline;
}

.login__body .card .suscribe__recaptcha {
  color: #8c8c8c;
  font-size: 13rem;
  margin-top: 13px;
  display: inline-block;
}

.login__body .card .suscribe__recaptcha a {
  color: #0071eb;
  text-decoration: none;
}

.login__body .card .suscribe__recaptcha a:hover {
  text-decoration: underline;
}

.login__body::before {
  content: "";
  height: 91px;
  display: block;
}

.login__body::after {
  content: "";
  height: 236px;
  display: block;
}

.login .footer {
  min-width: 190px;
  width: 100%;
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 16px;
  color: #757575;
  position: relative;
  background: #000000bf;
}

.login .footer__site {
  color: #757575;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  width: 90%;
}

.login .footer__title {
  margin: 0 0 30px;
}

.login .footer__title a {
  color: #757575;
  text-decoration: none;
}

.login .footer__title a:hover {
  text-decoration: underline;
}

.login .footer__list {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  font-size: 13rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login .footer__list li {
  list-style: none;
  margin-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin-bottom: 16px;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
  vertical-align: top;
}

.login .footer__list li a {
  text-decoration: none;
  color: #757575;
}

.login .footer__list li a:hover {
  text-decoration: underline;
}

.login .footer .lang-selection-container {
  margin-top: 20px;
  position: relative;
}

.login .footer .lang-selection-container select {
  font-size: 13rem;
  background: transparent;
  color: #757575;
  border: 1px solid #333;
  padding: 12px;
  width: 137px;
  height: 53.19px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #333;
  background: #000;
  line-height: 1.7;
  width: 125px;
  height: 48px;
}

.login .footer .lang-selection-container select,
.login .footer .lang-selection-container option {
  background: black;
}

.login .footer .lang-selection-container .globe-down {
  margin-left: 15px;
  width: 15px;
  margin-top: 17px;
  color: #757575;
  position: absolute;
}

.login .footer .lang-selection-container .select-down {
  padding: 12px 26px 12px 50px;
}

.login .footer .lang-selection-container .arrow-down {
  width: 10px;
  left: 105px;
  top: 12px;
  color: #757575;
  position: absolute;
}
/*# sourceMappingURL=styles_login.css.map */