@font-face {
  font-family: 'NetflixSans';
  src: url("../fonts/NetflixSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NetflixSans';
  background: black;
}

img {
  font-size: 16px;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  font-family: 'NetflixSans';
}

select,
option {
  background: #00000066;
  font-family: 'NetflixSans';
}

.lenguage {
  color: #fff;
  padding: 8px 22px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  font-size: 14rem;
  margin-right: 32px;
  width: 97px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2px;
  line-height: 18px;
  font-family: 'NetflixSans';
}

.globe {
  position: absolute;
  color: white;
  margin-left: 6px;
  width: 12px;
  margin-top: 12px;
}

.down {
  position: absolute;
  width: 11px;
  color: white;
  left: 78px;
  top: 6px;
}

.form {
  padding-top: 13.6px;
  max-width: 950px;
  margin: 0 auto;
}

.form h3 {
  font-size: 19.2rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 850px;
}

.form .input__email {
  width: 450px;
  height: 60px;
  padding: 10px 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  border: solid 1px #8c8c8c;
}

.form .input input:focus + label,
.form .input input:valid + label {
  top: 7px;
  font-size: 13px;
  font-weight: 700;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.form .input label {
  position: absolute;
  transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 45%;
  left: 110px;
  color: #8c8c8c;
  font-size: 16rem;
}

.form .input__email:focus {
  border-color: #0071eb;
}

.form .input__submit {
  color: #fff;
  width: 198.5px;
  height: 60px;
  background-color: #e50914;
  border: none;
  border-left: 1px solid #333;
  font-size: 26rem;
  padding: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.form .input__submit .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-top: 4px;
}

.form .input__submit .arrow svg {
  height: 15px;
  width: 15px;
}

.main {
  width: inherit;
  height: 686.984px;
  border-bottom: 8px solid #222;
  background-color: #000;
  color: #fff;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.main__background {
  position: absolute;
  width: 100%;
  height: 702.984px;
  opacity: 0.5;
  top: -16px;
}

.main__background img {
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__background .wrapper {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.5)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main .header {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
  border-bottom: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
}

.main .header .header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 56px;
}

.main .header .header_items__logo {
  height: 76px;
  margin-top: 8px;
}

.main .header .header_items__buttons {
  margin-top: 28px;
  position: relative;
}

.main .header .header_items__buttons--login {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 16px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  height: 32px;
}

.main .header .header_items__buttons--login a {
  color: #fff;
  text-decoration: none;
}

.main__info {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 45px;
  max-width: 950px;
  text-align: center;
  margin: 0 auto;
}

.main__info h1 {
  font-size: 49.6rem;
  width: 640px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.1;
  font-family: 'NetflixSans';
  letter-spacing: 0.86px;
}

.main__info h2 {
  font-size: 26rem;
  margin: 16px auto;
  font-weight: 400;
}

.sections {
  border-bottom: 8px solid #222;
  padding: 70px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.sections .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
}

.sections .container__text {
  width: 52%;
  padding: 0 48px 0 0;
}

.sections .container__text h2 {
  font-size: 50rem;
  line-height: 1.1;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.sections .container__text h3 {
  font-size: 26rem;
  font-weight: 400;
  margin: 19.5px 0 6.5px;
}

.sections .container__video {
  width: 48%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sections .container__video .animation {
  position: relative;
  margin: -10% -5% -5% 0;
}

.sections .container__video .animation img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.sections .container__video .animation__img {
  position: relative;
  z-index: 2;
}

.sections .container__video .animation__video {
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -47%);
          transform: translate(-50%, -47%);
  overflow: hidden;
}

.sections .container__video .animation__video--image {
  margin: 0 16px 0 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sections .container__video .animation__video--image .stranger-img {
  height: 72px;
}

.sections .container__video .animation__video--text {
  margin: 4.8px 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.sections .container__video .animation__video--text .text-0 {
  height: 20px;
  font-size: 16rem;
  color: #fff;
  font-weight: 600;
}

.sections .container__video .animation__video--text .text-1 {
  height: 19px;
  font-size: 14.4rem;
  color: #0071eb;
  font-weight: 400;
}

.sections .container__video .animation__video.stranger_animation {
  height: 76px;
  position: absolute;
  left: 50%;
  top: unset;
  bottom: 8%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 60%;
  min-width: 240px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 32px 0 #000;
          box-shadow: 0 0 32px 0 #000;
  border-radius: 12px;
  padding: 8px 12px;
}

.sections .container__video .animation .stranger_animation::after {
  width: 48px;
  height: 60px;
  outline: 2px solid #000;
  outline-offset: -2px;
  display: block;
  background: url(https://omarsav.com/pictures/netflix/img/icon_load.gif) center center no-repeat;
  background-size: 100%;
  content: '';
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sections .container__video.kids .animation {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.sections .container.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
}

.sections .container.reverse .container__text {
  padding: 0 0 0 48px;
}

.sections .container.reverse .stranger .animation {
  margin: -8% 0 -4% -15%;
  min-height: 100px;
  width: 100%;
}

.sections .faq {
  text-align: center;
}

.sections .faq h2 {
  font-size: 50rem;
  line-height: 1.1;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.sections .faq .faq-list {
  width: 75%;
  margin: 52px auto;
  max-width: 815px;
}

.sections .faq .faq-list__item {
  margin: 0 0 8px 0;
}

.sections .faq .faq-list__item--button {
  padding: 20.8px 57.2px 20.8px 31.2px;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: 0;
  display: block;
  text-align: left;
  background: #303030;
  font-size: 26rem;
  color: white;
  letter-spacing: 0.2px;
  margin-bottom: 1px;
}

.sections .faq .faq-list__item--button .svg-x {
  position: absolute;
  right: 26px;
  top: 50%;
  height: 26px;
  width: 26px;
  fill: #fff;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.sections .faq .faq-list__item--button .rotate {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.sections .faq .faq-list__item .answer span {
  background: #303030;
  font-size: 26rem;
  text-align: left;
  padding: 31.2px;
  display: inline-block;
}

.sections .faq .faq-list__item .answer.open {
  max-height: 1200px;
  -webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.sections .faq .faq-list__item .answer.closed {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.sections.device .container .animation {
  margin: -5% -10% 0 0;
}

.sections.device .container img {
  position: relative;
  z-index: 2;
}

.sections.device .animation__video {
  width: 100%;
  height: 100%;
  max-width: 63%;
  max-height: 47%;
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sections.device .animation__video video {
  width: 100%;
  height: 100%;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px 45px 0;
}

.footer-container .wrapper {
  min-width: 190px;
  width: 100%;
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 16rem;
  color: #757575;
  position: relative;
}

.footer-container .wrapper .site-footer {
  padding-top: 0;
  width: 90%;
  margin: 0 auto;
}

.footer-container .wrapper .site-footer .footer-call {
  padding: 0;
  margin: 0 0 30px;
}

.footer-container .wrapper .site-footer .footer-call .phone-number {
  text-decoration: none;
  color: #757575;
}

.footer-container .wrapper .site-footer .footer-call .phone-number:hover {
  text-decoration: underline;
}

.footer-container .wrapper .site-footer .footer-links {
  padding: 0;
  margin: 0;
  max-width: 1000px;
  font-size: 13rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container .wrapper .site-footer .footer-links__item {
  list-style: none;
  margin-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin-bottom: 16px;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
  vertical-align: top;
}

.footer-container .wrapper .site-footer .footer-links__item a {
  color: #757575;
  text-decoration: none;
}

.footer-container .wrapper .site-footer .footer-links__item a:hover {
  text-decoration: underline;
}

.footer-container .wrapper .site-footer .lang-selection-container {
  margin-top: 20px;
  position: relative;
}

.footer-container .wrapper .site-footer .lang-selection-container select {
  font-size: 16rem;
  background: transparent;
  color: #757575;
  border: 1px solid #333;
  font-family: 'NetflixSans';
  padding: 12px;
  width: 137px;
  height: 53.19px;
}

.footer-container .wrapper .site-footer .lang-selection-container .globe-down {
  margin-left: 15px;
  width: 15px;
  margin-top: 19px;
  color: #757575;
}

.footer-container .wrapper .site-footer .lang-selection-container .select-down {
  padding: 12px 26px 12px 50px;
}

.footer-container .wrapper .site-footer .lang-selection-container .arrow-down {
  width: 10px;
  left: 117px;
  top: 14px;
  color: #757575;
}

.footer-container .wrapper .site-footer .footer-country {
  font-size: 13rem;
  margin-top: 24px;
  margin-bottom: 13px;
  letter-spacing: 0.1px;
}
/*# sourceMappingURL=styles.css.map */