$text-color: #757575;
$dark-color: #000;
$light-color: #fff;
$light-gray: #8c8c8c;
$dark-gray: #333;
$gray: #737373;
$blue: #0071eb;
$red: #e50914;

* 
{
   margin: 0;
   padding: 0;
}

html 
{
   font-size: 6.25%;
}

img 
{
   font-size: 16px;
}

ul 
{
   padding: 0;
   list-style: none;
}

button
{
   -webkit-appearance: button;
   cursor: pointer;
   font-family: 'NetflixSans';
}
