.main 
{
   width: inherit;
   height: 109vh;
   border-bottom: 8px solid #222;
   
   &__background
   {
      width: 100%;
      height: 109vh;
      background: url("https://omarsav.com/pictures/background_main.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 65%;
      position: absolute;
      filter: brightness(0.4);
   }

   .header 
   {
      position: relative;

      .header_items
      {
         display: flex;
         justify-content: space-between;
         margin: 0 56px;

         &__logo 
         {
            height: 76px;
            margin-top: 8px;
         }

         &__buttons
         {
            margin-top: 28px;
            position: relative;

            &--login 
            {
               background-color: #e50914;
               line-height: normal;
               padding: 7px 16px;
               font-weight: 400;
               font-size: 16px;
               border-radius: 3px;
               border: none;
               height: 32px;
               
               a 
               {
                  color: #fff;
                  text-decoration: none;
               }
            }
         }
      }
   }
   
   &__info
   {
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 146px 45px 70px;
      max-width: 950px;
      text-align: center;
      margin: 0 auto;
   
      h1 
      {
         font-size: 49.6rem;
         width: 640px;
         max-width: 640px;
         margin: 0 auto;
         text-align: center;
         line-height: 1.1;
         font-family: 'NetflixSans';
         letter-spacing: 0.86px;
      }
   
      h2 
      {
         font-size: 26rem;
         margin: 16px auto;
         font-weight: 400;
      }
   }
}



