   .footer-container 
   {
      max-width: 1000px;
      margin: 0 auto;
      padding: 70px 45px 0;

      .wrapper
      {
         min-width: 190px;
         width: 100%;
         margin-top: 0;
         padding-bottom: 20px;
         font-size: 16rem;
         color: $text-color;
         position: relative;

         .site-footer
         {
            padding-top: 0;
            width: 90%;
            margin: 0 auto;

            .footer-call
            {
               padding: 0;
               margin: 0 0 30px;

               .phone-number 
               {
                  text-decoration: none;
                  color: $text-color;
               }  

               .phone-number:hover 
               {
                  text-decoration: underline;
               }
            }

            .footer-links
            {
               padding: 0;
               margin: 0;
               max-width: 1000px;
               font-size: 13rem;
               box-sizing: border-box;
               display: flex;
               flex-wrap: wrap;

               &__item 
               {
                  list-style: none;
                  margin-left: 0;
                  box-sizing: border-box;
                  padding: 0;
                  margin-bottom: 16px;
                  min-width: 100px;
                  width: 25%;
                  padding-right: 12px;
                  vertical-align: top;

                  a 
                  {
                     color: $text-color;
                     text-decoration: none;
                  }

                  a:hover 
                  {
                     text-decoration: underline;
                  }
               }
            }

            .lang-selection-container 
            {
               margin-top: 20px;
               position: relative;

               select 
               {
                  font-size: 16rem;
                  background: transparent;
                  color: $text-color;
                  border: 1px solid $dark-gray;
                  font-family: 'NetflixSans';
                  padding: 12px;
                  width: 137px;
                  height: 53.19px;
               }

               .globe-down 
               {
                  margin-left: 15px;
                  width: 15px;
                  margin-top: 19px;
                  color: $text-color;
               }

               .select-down
               {
                  padding: 12px 26px 12px 50px;
               }

               .arrow-down
               {
                  width: 10px;
                  left: 117px;
                  top: 14px;
                  color: $text-color;
               }
            }

            .footer-country 
            {
               font-size: 13rem;
               margin-top: 24px;
               margin-bottom: 13px;
               letter-spacing: 0.1px;
            }
         }
      }
   }

   @media (max-width: 600px) 
   {
      .footer-container 
      {
         padding: 50px 5%;
         
         .wrapper .site-footer .footer-links__item
         {
            width: 50%;
         }
      }
   }