.sections 
{
   border-bottom: 8px solid #222;
   padding: 70px 45px;
   box-sizing: border-box;
   color: $light-color;
   
   .container 
   {
      display: flex;
      max-width: 1100px;
      margin: 0 auto;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      height: 100%;
      
      &__text 
      {
         width: 52%;
         padding: 0 48px 0 0;

         h2 
         {
            font-size: 50rem;
            line-height: 1.1;
            margin-bottom: 8px;
            letter-spacing: 0.5px;
         }
      
         h3 
         {
            font-size: 26rem;
            font-weight: 400;
            margin: 19.5px 0 6.5px;
         }
      }

      &__video 
      {
         width: 48%;
         height: 100%;
         display: flex;
         box-sizing: border-box;

         .animation 
         {
            position: relative;
            margin: -10% -5% -5% 0;

            img 
            {
               max-width: 100%;
               height: auto;
               border: 0;
            }

            &__img
            {
               position: relative;
               z-index: 2;
            }

            &__video 
            {
               width: 100%;
               height: 100%;
               max-width: 73%;
               max-height: 54%;
               position: absolute;
               top: 46%;
               left: 50%;
               transform: translate(-50%,-47%);
               overflow: hidden;

               &--image
               {
                  margin: 0 16px 0 0;
                  -webkit-box-flex: 0;
                  flex-grow: 0;
                  flex-shrink: 0;

                  .stranger-img
                  {
                     height: 72px;
                  }
               }

               &--text 
               {
                  margin: 4.8px 0;
                  -webkit-box-flex: 1;
                  flex-grow: 1;
                  flex-shrink: 1;

                  .text-0
                  {
                     height: 20px;
                     font-size: 16rem;
                     color: $light-color;
                     font-weight: 600;
                  }

                  .text-1 
                  {
                     height: 19px;
                     font-size: 14.4rem;
                     color: #0071eb;
                     font-weight: 400;
                  }
               }
            }

            &__video.stranger_animation
            {
               height: 76px;
               position: absolute;
               left: 50%;
               top: unset;
               bottom: 8%;
               z-index: 3;
               transform: translateX(-50%);
               margin: 0 auto;
               background: $dark-color;
               display: flex;
               -webkit-box-align: center;
               align-items: center;
               width: 60%;
               min-width: 240px;
               border: 2px solid rgba(255,255,255,.25);
               box-shadow: 0 0 32px 0 $dark-color;
               border-radius: 12px;
               padding: 8px 12px;
            }

            .stranger_animation::after 
            {
               width: 48px;
               height: 60px;
               outline: 2px solid $dark-color;
               outline-offset: -2px;
               display: block;
               background: url(https://omarsav.com/pictures/netflix/img/icon_load.gif) center center no-repeat;
               background-size: 100%;
               content: '';
               -webkit-box-flex: 0;
               flex-grow: 0;
               flex-shrink: 0;
            }
         }
      }

      &__video.kids 
      {
         .animation
         {
            position: relative;
            overflow: hidden;
            margin: auto;
         }
      }
   }

   .container.reverse 
   {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-flow: row-reverse;
   }  

   .container.reverse .container__text
   {
      padding: 0 0 0 48px;
   }

   .container.reverse .stranger .animation
   {
      margin: -8% 0 -4% -15%;
      min-height: 100px;
      width: 100%;
   }

   .faq
   {
      text-align: center;

      h2 
      {
         font-size: 50rem;
         line-height: 1.1;
         margin-bottom: 8px;
         letter-spacing: 0.5px;
      }

      .faq-list 
      {
         width: 75%;
         margin: 52px auto;
         max-width: 815px;

         &__item 
         {
            margin: 0 0 8px 0;

            &--button
            {
               padding: 20.8px 57.2px 20.8px 31.2px;
               font-weight: 400;
               position: relative;
               width: 100%;
               border: 0;
               display: block;
               text-align: left;
               background: #303030;
               font-size: 26rem;
               color: $light-color;
               letter-spacing: 0.2px;
               margin-bottom: 1px;

               .svg-x
               {
                  position: absolute;
                  right: 26px;
                  top: 50%;
                  height: 26px;
                  width: 26px;
                  fill: $light-color;
                  transform:  translateY(-50%) rotate(0deg);
               }

               .rotate
               {
                  transform:  translateY(-50%) rotate(-45deg);
               }
            }

            .answer span
            {
               background: #303030;
               font-size: 26rem;
               text-align: left;
               padding: 31.2px;
               display: inline-block;
            }

            .answer.open
            {
               max-height: 1200px;
               transition: max-height .25s cubic-bezier(.5,0,.1,1);
            }

            .answer.closed 
            {
               max-height: 0px;
               overflow: hidden;
               transition: max-height .25s cubic-bezier(.5,0,.1,1);
            }
         }
      }
   }
}

.sections.device 
{
   & .container .animation
   {
      margin: -5% -10% 0 0;
   }

   & .container img
   {
      position: relative;
      z-index: 2;
   }

   & .animation__video 
   {
      width: 100%;
      height: 100%;
      max-width: 63%;
      max-height: 47%;
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%,-50%);

      video 
      {
         width: 100%;
         height: 100%;
      }
   }
}